<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/member.css">
    <title>Área de Membro</title>
</head>

<body>
    <div class="logo-background">
        <div class="logo"></div>
    </div>
    <nav class="menu"></nav>
    <div class="container">
        <div class="user">
            <br/>
            <h1>Informações Pessoais</h1>
            <br/>
            <br/>
            <h3>{{username}}</h3>
            <br/>
            <h3>{{name}}</h3>
            <br/>
            <h3>{{email}}</h3>
            <br/>
            <h3>{{address}}</h3>
            <br/>
            <h3>{{password}}</h3>
        </div>
    </div>
</body>

</html>